@import '../GlobalStyles/variables';
.wrapper {
    min-width: 127px;
    padding: 9px 16px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $text-white;
    @media (max-width: $primary-mobile-width) {
        position: relative;
    }
    + .wrapper {
        margin-left: 8px;
    }
}
.primary {
    width: 117px;
    height: 35px;
    border-radius: 20px;
    background: $bg-light-red;

    &:hover {
        background-color: $bg-near-red;
    }
}
.secondary {
    width: 127px;
    height: 24px;
    background: $bg-violet;

    &:hover {
        background: $bg-near-violet;
    }
}

.icon {
    position: relative;
}

// notification
.notification {
    width: 30px;
    min-width: 30px;
    padding: 0;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

// message
.message {
    @extend .notification;
}
.icon-text {
    @extend .icon;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

// info
.info {
    @extend .notification;
    width: 55px;
    height: 65px;
}

.logout {
    &:hover {
        background-color: $bg-light-white;
        border-radius: 2px;
    }
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5.55px;
    border-radius: 0;
    padding: 10.5px 0 9px 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
}

// nav

.btn-nav {
    @media (min-width: $primary-mobile-width) {
        width: 0;
        display: none;
    }
    position: relative;
    background-color: transparent;
    padding: 0;
    width: 32px;
    min-width: 0;
    font-size: 32px;
}
