@import '../GlobalStyles//variables';

.wrapper {
    width: 200px;
    position: relative;
    color: $text-black;
    transition: all 0.3s ease;
}

.header {
    color: $text-black;
    padding-left: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 6px;
    cursor: pointer;
    .avatar {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin-right: 7px;
    }
    .title-name {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }
    .name {
        font-size: 16px;
        margin-right: 16px;
    }
    .isCheck {
        color: $bg-blue;
    }
}

.menu-items {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 4px;
    margin-bottom: 8.5px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    .menu-item {
        min-width: auto;
        background-color: $bg-white;
        border-radius: 0;
        color: $text-black;
        padding-left: 15px;
        font-size: 14px;
        cursor: pointer;
        &:hover {
            background-color: $bg-light-white;
            border-radius: 2px;
        }
    }
}

.menu-actions {
    gap: 0;
    .action-item {
        padding: 5px 0 5px 15px;
        margin-left: 0 !important;
        align-items: start;
    }
}

.isLogout {
    width: 17.452px;
    height: 18px;
    color: $text-black;
}
.logout-content {
    color: $text-black;
}

/*  Me */

.btn-currentUser {
    display: flex;
    flex-direction: row;
    padding: 3px 15px;
    margin-bottom: 3px;
}

/*  Friend */

.friendInfo {
    width: 250px;
}
.btn-friend {
    display: flex;
    flex-direction: row;
    padding: 3px 15px;
}
.titles {
    .title-action {
        @extend .title-name;
        font-size: 11px;
        gap: 4px;
    }
}
.nameSound {
    color: $text-red;
}
