/*
* Font
*/
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Roboto', sans-serif;

/*
* Size
*/
$primary-desktop-width: 1680px;
$primary-laptop-width: 1440px;
$primary-ipad-width: 1024px;
$primary-mobile-width: 768px;
/*
* Color
*/
$primary-color-bg: linear-gradient(135deg, #76009f 0%, #43006b 100%) no-repeat;

// --> Color text

$primary-color-text: #ffffff;
$secondary-color-text: #000000;

// Header

$primary-color-bg-header: #550279;

// Header --> Logo

// Header --> Search
$primary-color-text-search: #696767;
$secondary-color-text-search: #000000;
$third-color-text-search: #ff0000;
$four-color-text-search: #085f00;

$primary-color-bg-search: #ffffff;
$secondary-color-bg-search: #000000;
$third-color-bg-search: #eeeded;

$primary-color-border-search: #d9d9d9;
$primary-color-bg-btn: #fc9090;
