/*
* Font
*/
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Roboto', sans-serif;

/*
* Size
*/
$primary-desktop-width: 1680px;
$primary-laptop-width: 1440px;
$primary-ipad-width: 1024px;
$primary-mobile-width: 768px;
/*
* Color
*/
$primary-color-bg: linear-gradient(135deg, #76009f 0%, #43006b 100%) no-repeat;

// --> Color text

$text-white: #ffffff;
$text-dark-white: #f3f3f3;
$text-black: #000000;
$text-light-black: #6f6e6e;
$text-gray: #696767;
$text-black-gray: #8e8c8c;
$text-red: #ff0000;
$text-green: #085f00;
$text-dark-green: #063d00;

$gray: #696767;
$black: #000000;
$red: #ff0000;
$green: #085f00;
$back-gray: #d9d9d9;

$bg-white: #ffffff;
$bg-light-white: #eeeded;
$bg-dark-white: #f3f3f3;
$bg-black: #000000;
$bg-purple: #550279;
$bg-violet: linear-gradient(135deg, #ce9ffc 0%, #7367f0 100%);
$bg-near-violet: linear-gradient(135deg, #ab6bea 0%, #3929df 100%);
$bg-light-gray: #eeeded;
$bg-black-gray: #8e8c8c;
$bg-light-red: #fc9090;
$bg-near-red: #f56767;
$bg-dark-red: #f94e4ee8;
$bg-blue: #1663ffe8;
$bg-green: #27b361;
$bg-dark-green: #209250;

/*  Nav  */

$bg-ihome: #0c0e23;
$bg-italkshow: linear-gradient(135deg, rgba(253, 216, 25, 1) 0%, rgba(232, 5, 5, 1) 100%);
$bg-ikaraoke: linear-gradient(135deg, rgba(86, 226, 129, 1) 0%, rgba(0, 193, 216, 1) 100%);
$bg-ipodcast: linear-gradient(135deg, rgba(255, 245, 195, 1) 0%, rgba(195, 0, 245, 1) 100%);
$bg-iradio: linear-gradient(135deg, rgba(255, 246, 183, 1) 0%, rgba(246, 65, 108, 1) 100%);
$bg-ilibrary: linear-gradient(135deg, rgba(235, 0, 88, 1) 0%, rgba(31, 56, 185, 1) 100%);
