/*
* Font
*/
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Roboto', sans-serif;

/*
* Size
*/
$primary-size-width: 1440px;

/*
* Color
*/
$primary-color-bg: linear-gradient(135deg, #76009f 0%, #43006b 100%) no-repeat;

$primary-color-bg-search: #ffffff;
$primary-color-border-search: #d9d9d9;

$primary-color-text: #ffffff;
$secondary-color-text: #000000;
