@import '../../components/GlobalStyles/variables';

.container {
    display: flex;
    flex-direction: row;
}

.content {
    @media (max-width: $primary-mobile-width) {
        transform: translate(0, 70px);
    }
    width: calc(100% - 120px);
    transform: translate(120px, 70px);
    height: 5000px;
}
@media (max-width: $primary-mobile-width) {
    .content.active {
        transform: translate(0, 0px);
    }
}
