@import '../../components/GlobalStyles/variables';

.container {
    display: flex;
    flex-direction: row;
}

.content {
    @media (max-width: $primary-mobile-width) {
        left: 0px;
        top: 70px;
        width: 100%;
    }
    width: calc(100% - 120px);
    height: 100vh;
    position: fixed;
    left: 120px;
    top: 70px;
    overflow-y: scroll;
}

@media (max-width: $primary-mobile-width) {
    .content.active {
        transform: translate(0, 0px);
    }
}
