@import '../GlobalStyles/variables';
.wrapper {
    &:hover {
        background-color: $bg-light-red;
        border-radius: 5px;
        .info {
            color: $text-white;
        }
    }
    &:active {
        background-color: $bg-dark-red;
    }
    @media (max-width: $primary-ipad-width) {
        width: min(100%, 600px) !important;
    }
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    background: $bg-white;
    padding: 9px 0 9px 9px;
    width: 600px;
    max-height: 350px;
    min-width: auto;
    margin-left: 0 !important;
    border-radius: 0;
    transition: all 0.3s ease;
    .avatar {
        height: 35px;
        width: 35px;
        border-radius: 50%;
    }
    .info {
        display: flex;
        align-items: center;
        gap: 10px;
        color: $text-black;
    }
}
.info {
    .name {
        font: 400 16px $primary-font;
    }
    .isCheck {
        color: $bg-blue;
    }
}
