@import '../GlobalStyles/variables';
.wrapper {
    &:hover {
        background-color: $bg-light-white;
        border-radius: 5px;
        .info {
            color: $text-red;
        }
        .arrow-right {
            color: $bg-dark-red;
        }
    }
    &:active {
        background-color: $bg-dark-red;
    }
    @media (max-width: $primary-ipad-width) {
        width: min(100%, 600px) !important;
    }
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background: $bg-white;
    padding: 9px 0 9px 9px;
    width: 600px;
    max-height: 350px;
    min-width: auto;
    margin-left: 0 !important;
    border-radius: 0;

    transition: all 0.3s ease;
    .arrow-right {
        color: $bg-dark-red;
    }
    .thumnail {
        height: 35px;
        width: 35px;
        border-radius: 5px;
    }
    .info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        color: $text-black;
    }
}
.info {
    width: 100%;
    padding: 0 19px 0 0;
    .name {
        font: 400 16px $primary-font;
    }
    .author {
        @extend .name;
    }
}
