@import '../GlobalStyles/variables';
.wrapper {
    &::-webkit-scrollbar {
        width: 5px;
        border-radius: 1px;
    }
    &::-webkit-scrollbar-button {
        height: 15px;
        border-radius: 2px;
    }
    &::-webkit-scrollbar-track {
        width: 6px;
        background-color: rgba(241, 241, 241, 0.1);
    }
    &::-webkit-scrollbar-track-piece {
        background-color: rgba(226, 226, 226, 0.2);
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 1px;
        background-color: rgba(121, 121, 121, 0.3);
    }
    &::-webkit-scrollbar-thumb {
        &:hover,
        &:active {
            background-color: rgba(128, 128, 128, 0.692);
        }
    }
    width: 100%;
    max-height: min((100vh - 100px) - 60px, 734px);
    min-height: 100px;
    padding-top: 8px;
    border-radius: 8px;
    background-color: $bg-white;
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
    overflow: hidden auto;
}
