@import '../../../components/GlobalStyles/variables';

.wrapper {
    &::-webkit-scrollbar {
        width: 0;
        border-radius: 0px;
        background-color: rgb(96 10 126);
    }
    .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 32px;
    }

    top: 0px;
    padding-top: $pd-top;
    width: 120px;
    height: 100%;
    position: fixed;
    overflow-y: overlay;

    overscroll-behavior: contain;
    direction: ltr;
    -webkit-font-smoothing: antialiased;

    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease;
}

.btn {
    width: 82px;
    height: 82px;
    min-width: auto;
    padding: 0;
    flex-shrink: 0;
    border-radius: 10px;
    margin-left: 0 !important;
    transition: all 0.3s ease;
}

.icon {
    flex-shrink: 0;
    border-radius: 5px;
}

.btn-feature {
    width: 38px;
    height: 38px;
    margin-top: 26px;
    margin-bottom: -14px;
    background: #fc9c9c;
    border-radius: 50%;
}

.icon-feature {
    &:hover {
        scale: 2;
    }

    // width: 19.84px;
    // height: 19.84px;
    width: 100%;
    height: 100%;
}

.btn-home {
    background: $bg-ihome;
}
.btn-talkshow {
    background: $bg-italkshow;
}
.btn-karaoke {
    background: $bg-ikaraoke;
}
.icon-karaoke {
    width: 35px;
    height: 35px;
}
.btn-podcast {
    background: $bg-ipodcast;
}
.icon-podcast {
    width: 35px;
    height: 35px;
}
.btn-radio {
    background: $bg-iradio;
}
.icon-radio {
    width: 35px;
    height: 35px;
}
.btn-library {
    background: $bg-ilibrary;
}
.icon-library {
    width: 35px;
    height: 35px;
}

.title {
    font-size: 13px;
    text-align: center;
}

// Mobile

.wrapper {
    @media (max-width: $primary-mobile-width) {
        &.active {
            left: 0;
            background: $bg-white;
            & .nav {
                z-index: 99999;
                position: relative;
                width: 100%;
                height: 100%;
                background: $bg-white;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                scroll-snap-align: start;
                gap: 0px;
            }

            .background.active {
                display: block;
                position: fixed;
                width: 100vw;
                height: 100vh;
                top: 0;
                left: 0;
                background-color: rgba(0, 0, 0, 0.4);
                z-index: 11;
            }
            .background {
                display: none;
            }
        }
        display: block;
        position: fixed;
        width: 40%;
        height: 100vh;
        transition: all 0.3s ease-in-out;
        top: 0;
        left: -100%;
        padding-top: 0;
        background-color: $bg-white;
        z-index: 1002;
        box-shadow: 1px 0px 4px 0px rgba(0, 0, 0, 0.6);
        overflow: hidden scroll;
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;
        scroll-padding: 48px;
        -webkit-overflow-scrolling: touch;
    }
}

@media (max-width: $primary-mobile-width) {
    .nav {
        .nav-item {
            background-color: white;
        }
    }
}

.bg-active {
    @media (max-width: $primary-mobile-width) {
        display: none;
    }
    background-color: #5a0083;

    height: 82px;
    width: 112px;
    position: absolute;
    top: 82px + $pd-top;
    left: -12px;
    border-radius: 10px;
    border: 0px solid #5a0083;
    border-left: 30px solid #5a0083;
    z-index: -1;
    transition: all 0.3s ease;
}
.bg-active {
    &::before,
    &::after {
        @media (max-width: $primary-mobile-width) {
            display: none;
        }
        content: '';
        position: absolute;
        background-color: rgb(150 79 178);
        height: 20px;
        width: 20px;
        z-index: -1;
        transition: all 1.3s ease;
    }

    &::before {
        top: -20px;
        left: -20px;
        border-radius: 0 0 0 20px;
        box-shadow: -3px 9px 0 0 #5a0083;
    }
    &::after {
        bottom: -20px;
        left: -20px;
        border-radius: 20px 0 0 0;
        box-shadow: -3px -9px 0 0 #5a0083;
    }
}

@for $i from 1 through 100 {
    .btn:nth-child(#{$i + 3}).active {
        ~ .bg-active {
            transform: translateY($i * 114px);
        }
    }
}

.btn {
    @media (max-width: $primary-mobile-width) {
        &:hover {
            background: $bg-near-red;
            color: $text-white;
        }
        border-radius: 1px;
        background: transparent;
        color: $text-black;
        height: 40px;
        width: 100%;
        padding: 20px 0 20px 0;
        span {
            font-weight: 600;
            font-size: 14px;
        }
    }
}
.btn-feature {
    @media (max-width: $primary-mobile-width) {
        display: none;
    }
}

.icon {
    @media (max-width: $primary-mobile-width) {
        display: none;
    }
}
