@import '../../../components/GlobalStyles/variables';

.wrapper {
    &::-webkit-scrollbar {
        width: 0;
        border-radius: 0px;
        background-color: rgb(96 10 126);
    }
    .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 32px;
    }

    top: 0px;
    left: 0;
    visibility: visible;
    opacity: 1;

    padding-top: $pd-top;
    width: 120px;
    height: 100%;
    position: fixed;
    overflow-y: overlay;

    overscroll-behavior: contain;
    direction: ltr;
    -webkit-font-smoothing: antialiased;

    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.3);
    transition: all 0.5s ease;
}

.btn {
    width: 82px;
    height: 82px;
    min-width: auto;
    padding: 0;
    flex-shrink: 0;
    border-radius: 10px;
    margin-left: 0 !important;
    transition: all 0.3s ease;
}

.icon {
    flex-shrink: 0;
    border-radius: 5px;
}

.btn-feature {
    width: 38px;
    height: 38px;
    margin-top: 26px;
    margin-bottom: -14px;
    background: #fc9c9c;
    border-radius: 50%;
}

.icon-feature {
    &:hover {
        scale: 2;
    }

    // width: 19.84px;
    // height: 19.84px;
    width: 100%;
    height: 100%;
}

.btn-home {
    background: $bg-ihome;
}
.btn-talkshow {
    background: $bg-italkshow;
}
.btn-karaoke {
    background: $bg-ikaraoke;
}
.icon-karaoke {
    width: 35px;
    height: 35px;
}
.btn-podcast {
    background: $bg-ipodcast;
}
.icon-podcast {
    width: 35px;
    height: 35px;
}
.btn-radio {
    background: $bg-iradio;
}
.icon-radio {
    width: 35px;
    height: 35px;
}
.btn-library {
    background: $bg-ilibrary;
}
.icon-library {
    width: 35px;
    height: 35px;
}

.title {
    font-size: 13px;
    text-align: center;
}

// Mobile

.wrapper {
    @media (max-width: $primary-mobile-width) {
        left: -100%;
        visibility: hidden;
        opacity: 0;
        // display: none;
    }
}

.bg-active {
    @media (max-width: $primary-mobile-width) {
        display: none;
    }
    background-color: #5a0083;

    height: 82px;
    width: 112px;
    position: absolute;
    top: 82px + $pd-top;
    left: -12px;
    border-radius: 10px;
    border: 0px solid #5a0083;
    border-left: 30px solid #5a0083;
    z-index: -1;
    transition: all 0.3s ease;
}
.bg-active {
    &::before,
    &::after {
        @media (max-width: $primary-mobile-width) {
            display: none;
        }
        content: '';
        position: absolute;
        background-color: rgb(150 79 178);
        height: 20px;
        width: 20px;
        z-index: -1;
        transition: all 1.3s ease;
    }

    &::before {
        top: -20px;
        left: -20px;
        border-radius: 0 0 0 20px;
        box-shadow: -3px 9px 0 0 #5a0083;
    }
    &::after {
        bottom: -20px;
        left: -20px;
        border-radius: 20px 0 0 0;
        box-shadow: -3px -9px 0 0 #5a0083;
    }
}

@for $i from 1 through 100 {
    .btn:nth-child(#{$i + 2}).active {
        ~ .bg-active {
            transform: translateY($i * 114px);
        }
    }
}
