@import '../../../GlobalStyles/variables';
@import '../DefaultStyles.scss';

.wrapper {
    position: relative;
    display: flex;

    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 70px;
    background: $bg-purple;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

    .logo {
        display: flex;
        align-items: center;
        gap: 25px;
        position: relative;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .search {
        display: flex;
        justify-content: center;
        position: relative;
    }
    .actions {
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 45px;
        position: relative;
        transition: all 0.3s ease;
    }
}

.logo {
    .logo-text {
        color: #ffffff;
        text-align: center;
        white-space: nowrap;
        font: 400 24px $primary-font;
    }
    img {
        width: 52px;
        height: 52px;
    }
}

.search,
.search-result {
    width: 600px;
}
.search {
    .box {
        display: flex;
        align-items: center;
        width: 600px;

        @media (max-width: $primary-ipad-width) {
            width: 50%;
        }
        @media (max-width: $primary-mobile-width) {
            width: 35px;
            left: 50%;
            transition: all 0.3s ease;
            &.active {
                position: absolute;
                left: 0;
                top: 0;
                display: flex;
                width: 100%;
                height: 70px;
                border-radius: 0;
                z-index: 100;
                visibility: visible;
            }
        }
        height: 35px;
        position: relative;
        background: #ffffff;
        border-radius: 20px;
        border-style: solid;
        border-color: #d9d9d9;
        border-width: 1px;
        transition: all 0.3s ease;
    }
}

.search-result {
    @media (max-width: $primary-mobile-width) {
        width: max-content;
    }
    pointer-events: auto;
    color: black;
    .search-title {
        padding-left: 9px;
    }
}
.search-result,
.notification-result,
.message-result {
    .more {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        position: relative;
        display: flex;
        justify-content: center;
        transition: all 0.3s ease;
        a {
            &:hover {
                background-color: $bg-green;
                color: $text-white;
            }
            &:active {
                background-color: $bg-dark-green;
                color: $text-white;
            }
            color: $text-green;
            padding: 5px;
            width: 100%;
            text-align: center;
            text-decoration: underline;
        }
    }
}
.box {
    .search-btn {
        background-color: transparent;
        border-radius: 20px 0 0 20px;
        order: 0;
        height: 100%;
        @media (min-width: $primary-ipad-width) {
            padding: 0 10px 0 10px;
        }
        &:active {
            background-color: rgba(22, 24, 25, 0.2);
        }
        ion-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            color: $text-gray;
            font-size: 28px;
            cursor: pointer;
            opacity: 0.5;
            transition: all 0.3s ease;
        }
    }
    input:not(:placeholder-shown) ~ .search-btn ion-icon {
        color: $black !important;
    }
    input {
        @media (max-width: $primary-mobile-width) {
            &.active {
                display: block;
                width: calc(100% - 35px);
                border-radius: 0;
                visibility: visible;
            }
            display: none;
            width: 0;
            visibility: hidden;
        }
        order: 1;
        color: $text-gray;
        caret-color: $red;
        font: 400 12px $primary-font;
        width: 550px;
        height: 35px;
        padding: 0px 10px 0px 10px;
        background: transparent;
        border-radius: 0 20px 20px 0;
        outline: none;
        border: none;
        transition: all 0.3s ease;
    }
    .clear {
        order: 2;
        background-color: transparent;
        .btn-close {
            display: none;
            padding: 10px;
            color: $text-black;
            font: 400 24px $primary-font;
            transition: all 0.3s ease;
            &.active {
                display: block;
            }
        }
    }
    .loading {
        order: 3;
        background-color: transparent;
        padding: 10px;
        color: $text-black;
        font: 400 20px $primary-font;
        transition: all 0.3s ease;
    }
}

.actions {
    .btn-notification {
        width: 30px;
        height: 30px;
        background-color: transparent;
        position: relative;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    .btn-message {
        @extend .btn-notification;
    }
    .btn-info {
        @extend .btn-notification;
        width: 55px;
        height: 55px;
    }

    @media (max-width: $primary-mobile-width) {
        position: relative;
        left: 10px;
    }
}
.counter {
    position: absolute;
    top: -8px;
    right: -8px;

    width: 22px;
    height: 22px;
    line-height: 100%;
    border: 2px transparent solid;
    border-radius: 50%;

    z-index: 10;
    opacity: 0;
    transform: scale(0.5);
    transition: transform, opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;

    font-size: 20px;
    font-weight: 400;
    font-family: $secondary-font;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $bg-dark-red;
    color: $text-white;
}
.show-count {
    transform: scale(1);
    opacity: 1;
}
.notify {
    animation: ring 1.5s ease;
}
@keyframes ring {
    0% {
        transform: rotate(35deg);
    }
    12.5% {
        transform: rotate(-30deg);
    }
    25% {
        transform: rotate(25deg);
    }
    37.5% {
        transform: rotate(-20deg);
    }
    50% {
        transform: rotate(15deg);
    }
    62.5% {
        transform: rotate(-10deg);
    }
    75% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.icon-notification,
.notification-result {
    width: 400px;
}
.icon-notification {
    width: 100%;
    height: 100%;
    color: $text-white;
    &:active {
        color: $text-dark-white;
    }
}

.notification-result,
.message-result {
    @media (max-width: $primary-mobile-width) {
        width: 200px;
    }
    pointer-events: auto;
    color: black;
    .title {
        display: flex;
        align-items: center;
        justify-content: center;
        font: 600 18px $primary-font;
        padding: 0 0 10px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
}

.icon-message {
    @extend .icon-notification;
}

.avatar {
    @extend .icon-notification;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.name {
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: none;
    color: #ffffff;
    text-align: center;
    font: 400 16px $primary-font;
}

.btn-login {
    span {
        border: none;
        cursor: pointer;

        color: #ffffff;
        text-align: center;
        font: 400 16px $primary-font;
    }
}
