@import '../GlobalStyles//variables';
.wrapper {
    width: 100%;
    height: 310px;
    overflow: hidden;
    position: relative;
}
.banner {
    width: calc(100% - 120px);
    margin-left: 60px;
    margin-top: 20px;
}

.banner > div {
    scroll-snap-align: start;
}

.style--1 {
    border-radius: 20px;
}

.style--2 {
    display: flex !important;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 20px;
}

.style--2 > img {
    width: 50%;
}
@media (max-width: $primary-ipad-width) {
    .style--2 > img {
        width: 100%;
    }
    .style--2 > .img--2 {
        display: none;
    }
}

.style--3 {
    --w: 900px;
    --h: 120px;
    display: grid !important;
    grid-template-columns: var(--w) auto;
    grid-template-rows: var(--h) auto;
    grid-row-gap: 10px;
    grid-column-gap: 20px;
    grid-template-areas:
        'img--1 img--2'
        'img--1 img--3';
    height: 250px;
    position: relative;
}

.style--3 {
    > .img--1 {
        grid-area: img--1;
        position: relative;
        height: 250px !important;
    }
    > .img--2 {
        grid-area: img--2;
        position: relative;
    }
    > .img--3 {
        grid-area: img--3;
        position: relative;
    }
    > .img {
        width: 100%;
        height: 120px;
    }
}

@media (max-width: $primary-ipad-width) {
    .style--3 {
        display: block !important;
    }
    .style--3 > .img--2,
    .style--3 > .img--3 {
        display: none;
    }
}

.style--4 {
    --w: 50%;
    --h: 120px;
    display: grid !important;
    grid-template-columns: var(--w) auto;
    grid-template-rows: var(--h) auto;
    grid-row-gap: 10px;
    grid-column-gap: 30px;
    grid-template-areas:
        'img--1 img--2'
        'img--3 img--4';
    height: 250px;
    position: relative;
}

.style--4 {
    > .img--1 {
        grid-area: img--1;
        position: relative;
    }
    > .img--2 {
        grid-area: img--2;
        position: relative;
    }
    > .img--3 {
        grid-area: img--3;
        position: relative;
    }
    > .img--4 {
        grid-area: img--4;
        position: relative;
    }
    > .img {
        width: 100%;
        height: 120px;
    }
}

.img {
    border-radius: 20px;
    width: 100%;
    height: 250px;
    object-fit: fill;
    object-position: center;
}
